@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(129, 129, 254, 0.662);
}

header{
    color: white;
    text-align: center;
}

section{
    margin: auto;
    padding: 15px;
    background-color: white;
    width: 400px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.447);
    border-radius: 10px;
    line-height: 2;
}

div#texto{
    text-align: center;
}

footer > p {
    text-align: center;
    font-weight: bold;
    color: white;
}






